:root {
  --primary-font: "Poppins", sans-serif;
  --accent-font: "Playfair Display", serif;
  --primary-color: #e4f1fe;
  --accent-color: #81b2e3;
}
body {
  font-family: var(--primary-font);
}
h1,
h2,
h3 {
  font-family: var(--accent-font);
  font-weight: bold;
}
.about-section {
  padding: 170px 20px;
}

.about-content h1 {
  font-size: 64px;
}
.about-content h2 {
  font-size: 18px;
}
.about-content p {
  font-size: 16px;
}

.hero {
  text-align: center;
  padding: 170px 20px;
  background: var(--primary-color);
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #272142;
}
.hero p {
  font-size: 24px;
  font-weight: normal;
}
.btn-contact {
  background: var(--accent-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}
.featured {
  padding: 20px 0;
}
.contact-section {
  padding: 170px 20px;
  margin: 30px;
}
.work-section {
  padding: 170px 20px;
  margin: 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 64px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
}
